#Ignored File Types
*.tmp
*.bak
*d.pk3
dist/
tools/zandronum/
tools/pwads/*.*
*.dbs
*.wad.backup*
*bak.acs
*bak.acs*

skulltag_content-3.0-beta01.pk3
console.bat
__*

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
